body{
    background-color:white;
    padding-top:8px;
    margin-top: 14px;

}

#navBar{
    padding-left: 20px;

}

.navItem{
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color:floralwhite;
    color: gray;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 0px;
    margin-right: -3px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    text-decoration: none;
    padding-bottom:25px;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
    position: relative;
    z-index: 2;

}

.currentPageTab{
    background-color:whitesmoke;

}

#fullPageDiv{
    display: flex;
    background-color:white;
    /* margin-top: -10px; */
    position: absolute;
    z-index: 1;
    padding-right: 20px;
    width: 99%;
    height: 99%

}

#outerFrameDiv{
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding-right: -3px;
    margin-left: 20px;
    background-color:floralwhite;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    border-top-right-radius: 3%;
    width: 90vw;
    height: 100vh;

}

#innerFrameDiv{
    margin-top:20px;
    margin-left:20px;
    margin-bottom:20px;
    padding-bottom:20px;
    width:95%;
    padding-left: 20px;

}

#pageHeadersDiv{
    background-color:whitesmoke;
    padding-bottom:2px;
    padding-top: 10px;
    margin-left:-40px;
    margin-right: 100px;
    margin-bottom: 3px;
    margin-top: -7px;
    font-family:Geneva, Tahoma, sans-serif;
    width: 105%;

}

.name{
    font-size: 3rem;
    font-family: Geneva, Tahoma, sans-serif;
    color: darkslategray;
    font-weight:800;
    margin-left:20px;
    text-shadow: 1px 1px silver;
}

.shortBio{
    font-size:.8rem;
    margin-top:-30px;
    text-align: left;
    color:darkslategray;
    margin-left:20px;
    text-shadow: .5px .5px silver;

}

#mainPageContentsDiv{
    margin-top: 0px;
    margin-left: -20px;
    margin-right: 5%;

}

.contentsHeader{
    text-align: center;
    color:darkslategray;
    margin-left:20px;
    text-shadow: .5px .5px silver;

}

.topicDiv{
    margin-top:5%;

}

.topicHeader{
    text-align: center;
    color:navy;

}

.aligned-left{
    font-family:Geneva, Tahoma, sans-serif;
    font-size: small;

}

.aligned-center{
    font-family:Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: center

}

#resumeDiv{
    margin-left: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;


}

#resumeFrame{
    width: 95%;
    height:101vw;
    margin-bottom: 5%;

}

.weblinks{
    font-family:Geneva, Tahoma, sans-serif;
    font-size: small;

}

